# Java & Maven
target/
*.class

# Maven wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Build systems
build/

# Environment
.env
.env*

# Logs
logs/
*.log

# Test output (например, от TestNG)
test-output/

# IDEs & Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/

# IntelliJ config (избыточные)
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Allure reports
allure-results/
allure-report/
backend/.env
backend/.env.local
backend/logs/
backend/storage/


# Docker (локальные override-файлы)
