@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
body {
    font-family: 'Poppins', sans-serif;
}
.serif {
    font-family: 'Playfair Display', serif;
}